<main class="store-screen bg_red_blue">
    <div class="store-modal-overlay center">
        <div class="store-container">
            <div class="store-header">
                <a routerLink="/">
                    <button class="back-btn">
                        <img src="svgs\voltar.svg" alt="Voltar">
                    </button>
                </a>
                <h2 class="title store-title">LOJA</h2>
                <div class="resource-bar">
                    <div class="resource-item">
                        <div class="resource-icon coin-icon"></div>
                        <span class="resource-value">{{moeda()}}</span>
                    </div>

                    <div class="resource-item">
                        <div class="resource-icon diamond-icon"></div>
                        <span class="resource-value">💎 {{diamante()}}</span>
                    </div>
                </div>
            </div>

            <div class="store-tabs">
                <a routerLink="/loja-poderes"><button class="tab">PODERES</button></a>
                <button class="tab active">CENÁRIOS</button>
                <a routerLink="/loja-moedas"><button class="tab">MOEDAS</button></a>
                <a routerLink="/loja-diamantes"><button class="tab">DIAMANTES</button></a>
            </div>

            <div class="store-content">
                <div *ngFor="let item of skins()" class="store-item">
                    <div class="item-icon-border">
                        <img [src]="sanitizeUrl(item.iconUrl)" alt="CENARIO 1" class="item-icon">
                    </div>
                    <div class="item-details">
                        <p class="item-name">{{item.name}}</p>
                        <p class="item-description">{{item.description}}</p>

                        <button *ngIf="!item.owned" class="item-price"
                            (click)="buySkinOrScenario(item.id, item.priceGems)">💎
                            {{item.priceGems}}</button>

                        <button *ngIf="item.owned && !usadoFundo(item.iconUrl)
                        " class="item-price" (click)="useFundo(item.iconUrl)">
                            Equipar</button>
                        <p *ngIf="item.owned && usadoFundo(item.iconUrl)
                                                    " class="item-price" (click)="useFundo(item.iconUrl)">
                            Equipado</p>

                    </div>
                </div>
            </div>

            <div class="store-footer">
                <!-- <a routerLink="/perfil"><button class="btn footer-btn">PERFIL</button></a> -->
                <a routerLink="/salas"><button class="btn footer-btn">COMEÇAR</button></a>
            </div>
        </div>
    </div>
</main>