<main class="store-screen bg_red_blue">
    <div class="store-modal-overlay center">
        <div class="store-container">
            <div class="store-header">
                <a routerLink="/">
                    <button class="back-btn">
                        <img src="svgs\voltar.svg" alt="Voltar">
                    </button>
                </a>
                <h2 class="title store-title">LOJA</h2>
                <div class="resource-bar">
                    <div class="resource-item">
                        <div class="resource-icon coin-icon"></div>
                        <span class="resource-value">{{moeda()}}</span>
                    </div>

                    <div class="resource-item">
                        <div class="resource-icon diamond-icon"></div>
                        <span class="resource-value">💎 {{diamante()}}</span>
                    </div>
                </div>
            </div>

            <div class="store-tabs">
                <a routerLink="/loja-poderes"><button class="tab">PODERES</button></a>
                <a routerLink="/loja-cenarios"><button class="tab">CENÁRIOS</button></a>
                <button class="tab active">MOEDAS</button>
                <a routerLink="/loja-diamantes"><button class="tab">DIAMANTES</button></a>
            </div>

            <div class="store-content">
                <div class="store-item">
                    <div class="item-icon-border">
                        <img src="pixels\copper.png" alt="MOEDA 1" class="item-icon">
                    </div>
                    <div class="item-details">
                        <p class="item-name">MOEDA DE BRONZE</p>
                        <p class="item-description">100 moedas</p>
                        <button class="item-price" (click)="exchangeCoinsForGems(100, 5)">💎 5</button>
                    </div>
                </div>
                <div class="store-item">
                    <div class="item-icon-border">
                        <img src="pixels\silver.png" alt="MOEDA 2" class="item-icon">
                    </div>
                    <div class="item-details">
                        <p class="item-name">MOEDA DE PRATA</p>
                        <p class="item-description"> 500 moedas</p>
                        <button class="item-price" (click)="exchangeCoinsForGems(500, 20)">💎 20</button>
                    </div>
                </div>
                <div class="store-item">
                    <div class="item-icon-border">
                        <img src="pixels\gold.png" alt="MOEDA 3" class="item-icon">
                    </div>
                    <div class="item-details">
                        <p class="item-name">MOEDA DE OURO</p>
                        <p class="item-description"> 2000 moedas</p>
                        <button class="item-price" (click)="exchangeCoinsForGems(2000, 50)">💎 50</button>
                    </div>
                </div>
                <div class="store-item">
                    <div class="item-icon-border">
                        <img src="pixels\some silver.png" alt="MOEDA 4" class="item-icon">
                    </div>
                    <div class="item-details">
                        <p class="item-name">PILHA DE MOEDAS</p>
                        <p class="item-description">10000 moedas</p>
                        <button class="item-price" (click)="exchangeCoinsForGems(10000, 200)">💎 200</button>
                    </div>
                </div>

            </div>

            <div class="store-footer">
                <!-- <a routerLink="/perfil"><button class="btn footer-btn">PERFIL</button></a> -->
                <a routerLink="/salas"><button class="btn footer-btn">COMEÇAR</button></a>
            </div>
        </div>
    </div>
</main>