<main class="lobby bg_red_blue">
  <app-card-layout>

    <div *ngIf="room() !==null; else loading" class="container">
      <h2>{{ room()?.name }}</h2>
      <p *ngIf="room()?.isPrivate">Codigo sala privada: {{room()?.id}}</p>
      <p *ngIf="room()?.isPrivate==false">Codigo sala publica: {{room()?.id}}</p>

      <h3>Jogadores:</h3>
      <ul class="players_list" *ngIf="players().length > 0; else noPlayers ">
        <li *ngFor="let p of players()">
          Jogador: {{ p.username }} 
          <span class="ready" *ngIf="room()?.ready?.[p.id]; else notReady">
            Está pronto
          </span>
        
          <ng-template #notReady>
            <span class="not-ready">não está pronto</span>
          </ng-template>
        </li>
        <div *ngIf="players().length === 1">
          <strong>Aguardadndo Outro player...</strong>
        </div>
      </ul>
      <ng-template #noPlayers>
        <p>Aguardando outro jogador...</p>
      </ng-template>

 
      <div class="btnList">
        <button class="btn" (click)="goBack()">Sair</button>
        <a routerLink="/perfil"><button class="btn">Perfil</button></a>
        <a routerLink="/loja-poderes"><button class="btn">Loja</button></a>
        <button class="btn" >Estou Pronto</button>
      </div>
    </div>


    <ng-template #loading>
      <div class="container">loading...</div>
    </ng-template>
  </app-card-layout>
</main>