main {
    padding: 2rem;

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1rem;


        h2 {
            font-family: 'VCR_OSD_MONO', sans-serif;
            color: white;
            text-shadow:
                -1px -1px 0 black,
                1px -1px 0 black,
                -1px 1px 0 black,
                1px 1px 0 black;
        }


        .players_list {
            display: flex;
            flex-direction: column;
            flex: 1;
            flex-grow: 1;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(#ffff, #C6C6C6);
            border-radius: 8px;
            padding: .5rem;
            text-decoration: none;
            gap: .5rem;


            li {
                text-decoration: none;
                list-style-type: none;
            }
        }
        .btnList{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;
            a{
                width: 100%;
            }
            button, a button{
                width: 100%;
                background-image: linear-gradient(#74A0FD, #587DCC);
                padding: 1rem;
                color: white;
                border-radius: 12px;
                height: 100%;
            }
        }
    }
}