<main class="room bg_red_blue">
  <app-card-layout>
    <div class="room_content">
      <h2>Salas</h2>
      <div class="pesquisa_sala">

        <label for="room">Pesquisar Sala</label>
        <input id="room" type="text" placeholder="Codeigo da sala" [(ngModel)]="roomName" />
        <button class="btn" (click)="joinRoom(roomName)">Entrar</button>
      </div>

      <hr />

      <h2>Salas Public </h2>
        <div class="sala_publicas" *ngIf="rooms.length === 0">Nenhuma sala disponivel.</div>
        <ul class="sala_publicas" *ngIf="rooms.length > 0">

          <li *ngFor="let r of rooms">
            <strong>{{ r.name }}</strong>
            ({{ r.players.length }}/{{ r.maxPlayers }})

            <button class="btn" (click)="joinRoom(r.id)">Entrar</button>
          </li>
        </ul>

      <div class="btnList">
        <button class="btn" (click)="goBack()">Voltar</button>
        <a routerLink="/perfil"><button class="btn">Perfil</button></a>
        <a routerLink="/salas/criar"><button class="btn">Criar Sala</button></a>
        <!-- <button class="btn" (click)="createRoom()">Criar</button> -->

      </div>

    </div>
  </app-card-layout>

</main>