<main class="room bg_red_blue">
  <app-card-layout>
    <div class="room_content">
      <h2>Salas</h2>
      <div class="pesquisa_sala">

        <label for="room">Pesquisar Salas</label>
        <input id="room" type="text" placeholder="Código da sala" [(ngModel)]="roomName" />
        <button class="btn" (click)="joinRoom(roomName)">Entrar</button>
      </div>

      <hr />

      <h2>Salas Públicas</h2>
      <ul class="sala_publicas" *ngIf="rooms().length > 0; else loading">

        <li *ngFor="let r of rooms()">
          <strong>{{ r?.name }}</strong>
          ({{ r.players.length }}/{{ r.maxPlayers }})

          <button class="btn" (click)="joinRoom(r.id)">Entrar</button>
        </li>
      </ul>
      <ng-template #loading>
        <div class="sala_publicas">Nenhuma sala disponivel.</div>
      </ng-template>

      <div class="btnList">
        <button class="btn" (click)="goBack()">Sair</button>
        <a routerLink="/loja-poderes"><button class="btn">Loja</button></a>
        <button class="btn" (click)="createRoom(false)">Criar Sala Pública</button>
        <button class="btn" (click)="createRoom(true)">Criar Sala Privada</button>
      </div>

    </div>
  </app-card-layout>

</main>