main.room {
    height: 100%;
    padding: 2rem;

    app-card-layout {
        .room_content {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: 100%;

            .pesquisa_sala {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                label {
                    font-size: 1.2rem;
                    width: 200px;
                }

                input {
                    width: 100%;
                }

                button {
                    padding: .5rem 1rem;
                    border-radius: 12px;
                }
            }

            h2 {
                font-family: 'VCR_OSD_MONO', sans-serif;
                color: white;
                text-shadow:
                    -1px -1px 0 black,
                    1px -1px 0 black,
                    -1px 1px 0 black,
                    1px 1px 0 black;
            }
            label{
                color:rgb(255, 255, 255);
                font-weight: 700;
                text-shadow:
                -1px -1px 0 black,
                1px -1px 0 black,
                -1px 1px 0 black,
                1px 1px 0 black;
                font-family: 'VCR_OSD_MONO', sans-serif;

            }
            .sala_publicas{
                display: flex;
                flex-direction: column;
                flex: 1;
                flex-grow: 1;
                height: 100%;
                width: 100%;
                background-image: linear-gradient(#ffff, #C6C6C6);
                border-radius: 8px;
                padding: .5rem;
                text-decoration: none;
                gap: .5rem;
                
                li{
                    text-decoration: none;
                    list-style-type: none;
                    display: grid;
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                    align-items: center;
                    justify-items: center;


                    button, a button{
                        width: 100%;
                        background-image: linear-gradient(#74A0FD, #587DCC);
                        padding: .5rem .8rem;
                        color: white;
                        border-radius: 12px;
                    }
                }
            }
            .btnList{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 1rem;
                a{
                    width: 100%;
                }
                button, a button{
                    width: 100%;
                    background-image: linear-gradient(#74A0FD, #587DCC);
                    padding: 1rem;
                    color: white;
                    border-radius: 12px;
                    height: 100%;
                }
            }

        }
    }
}

@media screen and (max-width: 580px) {
    main.room {
        app-card-layout {
            .room_content {
                .pesquisa_sala {
                    flex-direction: column;
                    gap: .5rem;

                    button {
                        width: 100%;
                    }
                }
                .btnList{
                    gap: .5rem;
                    button{
                        padding: .3rem;
                    }
                }
                .sala_publicas{
                    li{
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

        }
    }
}