main.home{
    background-image: url("../../../asstes/pixels/fundos/menu.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    .btnList{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        a button{
            padding: .5rem 1rem;
            width: 100%;
        }
    }

    .exitBtn{
        position: absolute;
        top: 5%;
        right: 5%;
    }

    .userIcon{
        position: absolute;
        top: 5%;
        left: 5%;
    }
}