<main class="home bg_red_blue">
  <img src="/svgs/logo.svg"/>
  <div *ngIf="authService.isLoggedIn()"  class="btnList">
    <a routerLink="/salas"><button class="btn">Iniciar</button></a>
    <a routerLink="/loja"><button class="btn">Loja</button></a>
    <button (click)="authService.logout()" class="btn">Log out</button>
  </div>
  <div *ngIf="!authService.isLoggedIn()" class="btnList">
    <a routerLink="/login"><button class="btn">Log in</button></a>
    <a routerLink="/cadastro"><button class="btn">Cadastro</button></a>
  </div>
  <div class="exitBtn"></div>
</main>
