main.home {
  flex-direction: column;
  justify-content: center;
  align-items: center;
   gap: 2rem;
  position: relative;

  .btnList {
    display: flex;
    flex-direction: column;
    gap: 1rem;

     button {
      padding: .5rem 1rem;
      width: 100%;
      border-radius: 12px;
    }
  }

  .exitBtn {
    position: absolute;
    top: 5%;
    right: 5%;
    background-image: url("../../../assets/svgs/x_sair.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
  }

  .userIcon {
    position: absolute;
    top: 5%;
    left: 5%;
  }
}

@media screen and (max-width: 580px) {
  main.home {
    img{
      width: 250px;
    }
  }
}
