main.login {
  div.card {
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80vh;
    transition: all 1s ease-out;



    .form {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3.5rem;
      width: 50%;
      background-image: linear-gradient(#918C8C, #5E5E5E);
      padding: 2.5rem 2rem ;
      border-radius: 12px;
      transition: all 1s ease-out;

      .logo_vector_case{
        .logo {
          width: 150px;
        }
      }


      .login_vetro_case {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .login_text {
          width: 150px;
        }
      }
      .error_message{
        background: #e7bbbb;
        color:red;
        width: 100%;
        padding: 1rem;
        border-radius: 12px;
        border: solid rgb(236, 128, 128);
        transition: all 1s ease-out;

      }

      .btnList {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

        .btn {
          width: 100%;
          background: linear-gradient(30deg, #74A0FD, #587DCC);
          border-radius: 8px;
          color: white;
          padding: .5rem 1rem;
          font-family: 'VCR_OSD_MONO', sans-serif;
        }
      }


      .input_label {
        label {
          color: white;
          font-family: 'VCR_OSD_MONO', sans-serif;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: #D9D9D9;
      opacity: .7;
      padding: 2rem;
      border-radius: 12px;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }
}