<main class="login bg_red_blue">
  <div class="card">
    <div class="form">
      <div class="logo_vector_case">
        <img class="logo" src="/svgs/logo.svg" />
      </div>
      <div class="login_vetro_case">
        <img class="login_text" src="/svgs/Login.svg" />
      </div>
      <div class="input_label">
        <label for="username">Usuario</label>
        <input id="username" name="username" type="text" placeholder="Digite seu username" [(ngModel)]="username" />
      </div>
      <div class="input_label">
        <label for="password">Senha</label>
        <input id="password" type="password" placeholder="Digite sua senha" [(ngModel)]="password" />
      </div>

      <div>
        <p class="error_message" *ngIf="this.error.trim()!==''">
          {{this.error}}
        </p>
      </div>

      <div class="btnList">
        <button class="btn" (click)="goBack()">Voltar</button>
        <button class="btn" (click)="onLogin()">Logar</button>
      </div>
    </div>
  </div>
</main>