/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  font-size: large;
  font-weight: bold;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg_red_blue {
  background-image: url("./asstes/pixels/fundos/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input{
  padding: .7rem .5rem;
  border-radius: 16px;
}

.input_label{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-weight: 700;
 
}