/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100dvh;
  width: 100%;
}

@font-face {
  font-family: 'VCR_OSD_MONO';
  src: url('./asstes/font/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.btn {
  font-size: large;
  font-weight: bold;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: 'VCR_OSD_MONO', sans-serif;
}

main {
  min-height: 100dvh;
  width:100%;
  display: flex;
  app-card-layout{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}

.title {
  font-family: 'VCR_OSD_MONO', sans-serif;
  color: rgb(27, 170, 226);
  font-size: 2rem;
  text-shadow:
  -1px -1px 0 black,
   1px -1px 0 black,
  -1px  1px 0 black,
   1px  1px 0 black;
  }

.bg_red_blue {
  background-image: url("./asstes/pixels/fundos/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input{
  padding: .7rem .5rem;
  border-radius: 16px;
}

.input_label{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-weight: 700;
  font-family: 'VCR_OSD_MONO', sans-serif;
}

