main.cadastro {
  padding: 2rem;
  app-card-layout {
    width: 50%;
    .form {
      display: flex;
      flex-direction: column;
      gap:1rem;
      height: 100%;
    

      .logo_vector_case{
        .logo {
          width: 150px;
        }
      }


      .cadastro_vetro_case {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .cadastro_text {
          width: 150px;
        }
      }

      .inputs{
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-grow: 1;
        .error_message{
          background: #e7bbbb;
          color:red;
          width: 100%;
          padding: 1rem;
          border-radius: 12px;
          border: solid rgb(236, 128, 128);
          transition: all 1s ease-out;
          width: 100%;

        }
        .input_label {
          width: 100%;

          label {
            color: white;
            font-family: 'VCR_OSD_MONO', sans-serif;
          }
          input{
            width: 100%;
          }
        }
      }
     
      .btnList {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

        .btn {
          width: 100%;
          background: linear-gradient(30deg, #74A0FD, #587DCC);
          border-radius: 8px;
          color: white;
          padding: .5rem 1rem;
          font-family: 'VCR_OSD_MONO', sans-serif;
        }
      }


      
    }
  }
}

@media screen and (max-width: 580px) {
  main.cadastro {
    app-card-layout {
    .form {
      .btnList {
          flex-direction: column;
      }
    }
    }
  }
}